/* this code is developed and designed by Shubham Singh 
	GITHUB : https://github.com/SamWinchester
*/

body{
	background: #222;
	padding: 25px;
}

.metro{
	background: transparent;
	
	height: 150px;
	padding: 15px;
	margin-top: 10px;
}
.ele1{
	 /*background: #4a2390;*/
	height: 100px;
	margin-right: 20px;
	cursor: pointer;
	-webkit-transition:.5s background;
	-webkit-animation: mymove1 2.75s;
	
}
.ele1:hover{
	border:1px solid #4a2390;
	background: transparent;


}
.ele2{
	background: limegreen;
	height: 100px;
	-webkit-transition:.5s background;
	margin-right: 20px;
	cursor: pointer;
	-webkit-animation: mymove4 2.75s;
}

.ele2:hover{
	border:1px solid limegreen;
	background: transparent;	

}
.ele3{
	background: #9fff91;
	height: 100px;	
	cursor: pointer;
	margin-right: 20px;
	-webkit-transition:.5s background;
	-webkit-animation: mymove2 3.75s ;
	
}

.ele3:hover{
	border:1px solid #9fff91;
	background: transparent;

}
.ele5{
	background: #145;
	height: 100px;
	cursor: pointer;
	margin-right: 20px;
	-webkit-transition:.5s background;
	
	-webkit-animation: mymove3 4.75s ;
}

.ele5:hover{
	border:1px solid #145;
	background: transparent;

}
@-webkit-keyframes mymove_vis {
    from {display: none; }
    to {display: block;}
} 

@-webkit-keyframes mymove1 {
    from {-webkit-transform:scale(15); }
    to {-webkit-transform:scale(1);}
} 
@-webkit-keyframes mymove2 {
    0% {-webkit-transform:translateX(30000px);}
    80% {-webkit-transform:translateX(-70px);}
    100%{-webkit-transform:translateX(0px);}
} 
@-webkit-keyframes mymove3 {
     0% {-webkit-transform:translateY(3000px);}
    80% {-webkit-transform:translateY(-40px);}
    100%{-webkit-transform:translateY(0px);}
} 
@-webkit-keyframes mymove4 {
    from {bottom: -600px; width: 100px;}
    to {bottom: 0px;}
} 
.star{
	color: white;
	font-weight: bold;
	font-size: 45px;
	position: fixed;
	top: 330px;
	left: 350px;
	opacity: 0;
	-webkit-animation:mymove5 5s;

}
.tp{

	position: absolute;
	top: 100px;
	left: 100px;
	color: white;

}
@-webkit-keyframes mymove5 {
    0%{opacity: 1.0 ;-webkit-transform:scale(1.3);}
    25%{opacity: 0.7 ;-webkit-transform:scale(.9);}
   75%{opacity: 0.5 ;-webkit-transform:scale(.5);}
    100%{opacity: 0 ;-webkit-transform:scale(0);}
} 
